body {
	
}

.centered {
	text-align: -moz-center;
	text-align: -webkit-center;
}

.uploadContainer {
	border: 1px solid #ccc;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: #fff;
	padding: 25px;
}

html,body { 
	height:100%;
	overflow:auto;
}

#page-wrapper {
	padding:20px;
}

.panelText {
	padding-top:30px;
}

.panel-text {
	font-size: 35px;
	padding-top: 15px;	
}

.upload-btn {
	border-top-left-radius:0;
	border-top-right-radius:0;
	font-size: 22px;
}

.customIcon {
	height:70px;
	max-width:120px;
	background-image: url("../images/multiple.png");
	background-size: 120px 65px;
	background-repeat: no-repeat;
}

.selectPanel {
	padding:20px;
	color:#fff;
	cursor-style:pointer;
}

.selectText {
    font-size: 20px;
}

.panel-green.selectPanel:hover, .panel-green.multiPanel:hover {
	cursor-style:pointer;
	background-color:#3d8b3d;
}

.panel-primary.selectPanel:hover, .panel-primary.multiPanel:hover {
	background-color:#2c689c;
	cursor-style:pointer;
}

.panel-primary {
	background-color: #337AB7;
}

.panel-red.selectPanel:hover, .panel-red.multiPanel:hover {
	background-color:#b52b27;
	cursor-style:pointer;
}

.panel-yellow.selectPanel:hover, .panel-yellow.multiPanel:hover {
	background-color:#df8a13;
	cursor-style:pointer;
}

.multiPanel {
	height:160px;
	color:white;
}

.multiIcon {
	margin:30px;
}

.containerPanel {
	border: 1px solid #ccc;
	padding: 10px;
	overflow: auto;
	border-radius: 5px;
	min-height: 50px;
}

.multiSelected {
/* 	-webkit-box-shadow: 0px 0px 0px 4px rgba(55,166,38,1); */
/* 	-moz-box-shadow: 0px 0px 0px 4px rgba(55,166,38,1); */
/* 	box-shadow: 0px 0px 0px 4px rgba(55,166,38,1); */
}

.multiOr {
	margin-top:200px;
	font-size: 30px;
	font-weight: bold;
}

.btn-multiGo {
	width: 100%;
	height: 40px;
	font-size: 20px;
	font-weight: bold;
}

.controls-header {
    padding: 10px;
    border: 1px solid #ccc;
    background: #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
}

.controls {
    border: 1px solid #ccc;
    overflow: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-bottom: 10px;
}

.control-body {
    padding: 10px;
    overflow:auto;
}

.panel-footer {
	color:#080A4C;
}

.panel-standard {
	border-color: #080A4C;
    background-color: #080A4C;
    color:#080A4C;
    cursor:pointer;
}

.panel-standard > .panel-heading {
	border-color: #080A4C;
    color: #fff;
    background-color: #080A4C;
}

#wrapper {
    background-image: url("../images/curved-road.png");
	background-size: cover;
	height: 100%;
}

#page-wrapper {
	background: initial;
}

.selectedExp {
	color:#6CF229;
}

.unselectedExp {
	color:#fff;
}

.expFont {
	font-size: 20px;
}

.expRow {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #2C2C44;
    color: #fff;
    padding-bottom: 23px;
}

.graphPage {
	background-image:0;
	background: #fff;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #9c9;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}