<div ng-cloak>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Route List <small>Select Route(s) to View Data</small>
			</h1>
		</div>
	</div>
	<div class="row" ng-if="step.select"> 
		<div class="col-md-4 col-md-offset-2">
			<div class="panel panel-standard centered" ng-click="nextStep('single')">
				<div class="panel-heading">
					<div class="row">
						<i class="fa fa-road fa-5x"></i>
					</div>
					<div class="row">
						<div class="selectText">View Single Routes</div>
					</div>
				</div>
				<a ng-click="nextStep('single')">
					<div class="panel-footer">
						<span class="pull-left">View Single Routes</span> <span
							class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-standard centered" ng-click="nextStep('multiple')">
				<div class="panel-heading">
					<div class="row">
						<div class="centered">
							<div class="customIcon"></div>
						</div>
						<div class="row">
							<div class="selectText">Compare Multiple Routes</div>
						</div>
					</div>
				</div>
				<a ng-click="nextStep('multiple')">
					<div class="panel-footer">
						<span class="pull-left">View Multiple Routes</span> <span
							class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="row" ng-if="step.single">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Route ID</th>
						<th>User</th>
						<th>Experiment Type</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="route in routes track by route.routeId">
						<td>{{route.routeId}}</a></td>
						<td>{{route.dataUser.participantNum}}</td>
						<td>{{route.typeString}}</td>
						<td>
							<button type="submit"
								ui-sref="routes.view({exp:route})"
								class="btn btn-info btn-sm">
								<span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span>
									View</span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row" ng-if="step.multiple">
			<div class="col-md-8 col-md-offset-2">
				<div class="containerPanel">
					<div class="panel-heading" style="font-size: 20px;">
						Compare Experiment Type Averages
					</div>
					
					<div ng-repeat="route in averageRoutes">
						<div class="row" style="margin:0">
							<div class="expRow" ng-click="toggleSelect(route)">
								<span class="expFont">{{route.type.name}}</span>
								<span class="fa fa-3x fa-check pull-right" ng-class='{"selectedExp":route.selected, "unselectedExp":!route.selected}'></span>
							</div>
						</div>
					</div>
				</div>
				<div class="multiButton centered" ng-if="multiSelected.length > 1">
					<button class="btn btn-success btn-multiGo" ui-sref="routes.multiview({routelist:multiSelected})">Go</button>
				</div>
			</div>
		</div>		
</div>
